.containercito {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.loader {
    width: 7.5rem;
    height: 1.25rem;
    background: linear-gradient(#68a8bd 50%,#e7e7e7 0),linear-gradient(#e7e7e7 50%,#68a8bd 0),linear-gradient(#68a8bd 50%,#e7e7e7 0),linear-gradient(#e7e7e7 50%,#68a8bd 0),linear-gradient(#68a8bd 50%,#e7e7e7 0),linear-gradient(#e7e7e7 50%,#68a8bd 0)#ddd;
    background-size: calc(100%/6 + 0.0625rem) 200%;
    background-repeat: no-repeat;
    animation: l12 2s infinite;
    border-radius: 5%;
}
  
  @keyframes l12 {
    0% {
      background-position: calc(0*100%/5) 100%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%
    }
  
    16.67% {
      background-position: calc(0*100%/5)   0%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%
    }
  
    33.33% {
      background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%
    }
  
    50% {
      background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%
    }
  
    66.67% {
      background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5) 100%,calc(5*100%/5)   0%
    }
  
    83.33% {
      background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5)   0%
    }
  
    100% {
      background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5) 100%
    }
  }

  .loadercito {
    width: 10.9375rem;
    height: 5rem;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 1.5625rem at 1.5625rem 1.5625rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 3.125rem at 3.125rem 3.125rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 1.5625rem at 1.5625rem 1.5625rem, #e7e7e7 100%, transparent 0),linear-gradient(#e7e7e7 3.125rem, transparent 0);
    background-size: 3.125rem 3.125rem, 6.25rem 4.75rem, 3.125rem 3.125rem, 7.5rem 2.5rem;
    background-position: 0 1.875rem, 2.3125rem 0, 7.625rem 1.875rem, 1.5625rem 2.5rem;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }
  
  .loadercito::before {
    content: '';
    left: 3.75rem;
    bottom: 1.125rem;
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: #68a8bd;
    background-image: radial-gradient(circle 0.5rem at 1.125rem 1.125rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 1.125rem 0rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 0rem 1.125rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 2.25rem 1.125rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 1.125rem 2.25rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 1.875rem 0.3125rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 1.875rem 0.3125rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 1.875rem 1.875rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 0.3125rem 1.875rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.25rem at 0.3125rem 0.3125rem, #e7e7e7 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  
  .loadercito::after {
    content: '';
    left: 5.875rem;
    bottom: 0.9375rem;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #68a8bd;
    background-image: radial-gradient(circle 0.3125rem at 0.75rem 0.75rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 0.75rem 0rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 0rem 0.75rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 1.5rem 0.75rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 0.75rem 1.5rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 1.25rem 0.1875rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 1.25rem 0.1875rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 1.25rem 1.25rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 0.1875rem 1.25rem, #e7e7e7 100%, transparent 0),radial-gradient(circle 0.15625rem at 0.1875rem 0.1875rem, #e7e7e7 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
/* LandingPage.css */
.scroll-button {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #30beed;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s ease;
  animation: blink 5s infinite; /* Agregar la animación de parpadeo */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
