:root {
    --bs-link-color: #68a8bd; /* Cambia el color base del enlace */
    --bs-link-hover-color: #467485; /* Cambia el color al pasar el mouse sobre el enlace */
    --bs-nav-link-color: var(--bs-link-color); /* Color de los enlaces del navbar */
    --bs-nav-link-hover-color: var(--bs-link-hover-color); /* Color al pasar el mouse sobre los enlaces del navbar */
}
.nav-link {
    color: #68a8bd;
    font-size: 1.4rem; /* Aumenta el tamaño del texto */
    transition: color 1s; /* Agrega una transición para suavizar el cambio de color */
}
.nav-link:hover {
    color: #3c7588; /* Cambia el color al pasar el mouse sobre los elementos */
}
.nav-link.active,
.nav-link:active {
    color: #518799; /* Este estilo se aplicará a los elementos activos o clickeados */
}
